<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title  } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: username , configHeader:configHeader, currpage : currpage  }); %>
        </header>

        <main>
            <div class="container" >
                <div class="jumbotron">
                    <img src="images/356.jpg" alt="logo" style="width:30%">
                    <img src="images/135.jpg" alt="logo" style="width:30%">
                    <img src="images/200.jpg" alt="logo" style="width:30%">
                    <br><a class="btn btn-lg btn-primary" href="/product" role="button">View Catalog »</a>
                    </p>
                  </div>
            </div>
        </main>
          
        
        <%- include ('../template/footer'); %>
        

    </body>

</html> 